.container {
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.box {
    height: 200px;
    width: 200px;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}